<div class="span3 screenshot center">
	<a href="{{ site.url }}/images/blue_planet_earth/portrait.png">
		<img src="{{ site.url }}/images/blue_planet_earth/portrait-thumbnail.png" alt="screenshot" width="200" height="320"/>
	</a>
	<br />
	<br />
	<a href="https://play.google.com/store/apps/details?id=nl.sirrah.blueplanetearth.android.free">
	<img src="http://www.android.com/images/brand/android_app_on_play_large.png" title="Blue Planet: Earth on Google Play" alt="Google Play logo"/>
	</a>
</div>
